.about {
  display: flex;
  justify-content: space-between;

  color: #100f0f;
  background-color: #007d23;
}

.about_title {
  font-size: 2.25rem;
  padding: 0 10rem;
  padding-top: 5rem;
  padding-bottom: 2rem;

  letter-spacing: 0.5rem;

  text-transform: uppercase;
}

.about_description {
  padding: 0;
  padding-left: 10rem;

  font-size: 1.25rem;
  max-width: 70rem;
  text-align: justify;
  text-indent: 3rem;
}

.about_img {
  padding-top: 5rem;
  padding-left: 10rem;
}

.about_img img {
  border-radius: 50%;
  height: 90%;
  width: 60%;
}

/* hobbies */

.hobbies {
  display: flex;
  flex-direction: column;

  text-align: left;
  text-indent: 0%;
}

.bold_sentence {
  font-weight: bolder;
  letter-spacing: 0.5rem;
}

.things_i_like {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 2rem;
}

/* Expirience Section */

.expirience {
  padding-top: 5rem;
}

.expirience_card img {
  max-width: 10rem;
}

.expirience_card {
  display: flex;
  padding-bottom: 2rem;
  padding-left: 10rem;
}

.expirience_title {
  font-size: 2.25rem;
  padding: 0 10rem;
  padding-bottom: 2rem;

  text-transform: uppercase;
}

.expirience_descriptions {
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.expirience_card_title {
  font-size: 2rem;
}

.expirience_date {
  font-size: 1.2rem;
}
