.overall_projects {
  background-color: #007d23;
}

.main_header {
  font-size: 3rem;
  padding: 3rem 10rem;
}

.project_list {
  font-size: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding: 2rem 10rem;
}
